.row {
  margin-top: 30vh;
  margin-bottom: 70vh;
}

td, th {
  text-align: center;
}

.no-vote {
  background-color: lightyellow;
}

.vote {
  font-size: larger;
}

.vote-love::before {
  content: "\2764\00a0";
  color: red;
}

.vote-good::before {
  content: "\2714\00a0";
  color: green;
}

.vote-bad::before {
  content: "\2718\00a0";
  color: lightgray;
}

.vote-reference td:first-of-type::after {
}

.vote-reference-1 td:first-of-type::after {
  content: "\00a0\278a";
}

.vote-reference-2 td:first-of-type::after {
  content: "\00a0\278b";
}

.vote-reference-3 td:first-of-type::after {
  content: "\00a0\278c";
}

.vote-reference-4 td:first-of-type::after {
  content: "\00a0\278d";
}

.vote-reference-5 td:first-of-type::after {
  content: "\00a0\278e";
}
